[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-wombat"]
	path = vim/bundle/vim-wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = https://github.com/frimik/vim-puppet.git
[submodule "vim/bundle/vim-fuzzyfinder"]
	path = vim/bundle/vim-fuzzyfinder
	url = https://github.com/clones/vim-fuzzyfinder.git
[submodule "vim/bundle/vim-l9"]
	path = vim/bundle/vim-l9
	url = https://github.com/clones/vim-l9.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/git-vim"]
	path = vim/bundle/git-vim
	url = https://github.com/motemen/git-vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vim/bundle/tasklist.vim"]
	path = vim/bundle/tasklist.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/python.vim"]
	path = vim/bundle/python.vim
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
